header {
  text-align: center;
  background-size: cover;
  color: white;
}

.navbar {
  overflow: hidden;
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
a {
  color: #000000
}
ul {
  padding: 10px;
  background: white;
  color: black;
  border: 10px #000000;
}

li{
  display: inline;
  padding: 0px 10px 0px 10px;
}
